.project-modal {
      width: 100%;
      @include flex(column, space-between, center, 20px);

      .project-modal__preview {
            max-width: 600px;
            max-height: 300px;
      }
      .project-modal__links {
            margin-top: 20px;
            padding: 0 20px;
            border-right: 2px solid $accent-1;
            border-left: 2px solid $accent-1;
      }
      .project-modal__links-list {
            @include flex($gap: 30px);

            .links-list__link {
                  cursor: pointer;
                  padding: 5px;
                  @include flex($gap: 5px);
                  border-bottom: 1px solid rgba($accent-1, 0.2);
                  box-shadow: 0px 5px 5px -5px rgba($accent-1, 0.8);
                  transition: 0.5s;

                  &:hover {
                        transform: translateY(-2px);
                        box-shadow: 0px 2px 2px -5px rgba($accent-1, 0.8);
                        border-bottom: 1px solid rgba($accent-1, 0.2);
                        color: $accent-1;
                  }
            }
      }
}
