h1{
      font-family: "Hero", sans-serif;
      color: $accent-1;
      font-size: 2rem;
      font-weight: 300;
      letter-spacing: 20px;
      opacity: .4;
}
h2{
      color: $accent-1;
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 120%;
      text-align: center;
}