@font-face {
  // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
  font-family: "Hero"; 
  // адрес шрифта и тип 
  src: url("../../fonts/ofont.ru_Hero.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 300; 
} 