@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "Hero";
  src: url("../../fonts/ofont.ru_Hero.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  color: #8e8d8a;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 20px;
}

body {
  background: #eae7dc;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: unset;
}
body.hide {
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
}

main {
  max-width: 1400px;
  min-width: 100vh;
  height: 80vh;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: unset;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

li {
  display: block;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

@media (max-width: 1024px) {
  html {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
.page {
  position: relative;
  width: 100%;
  padding-left: 40px;
}
.page .container {
  width: 100%;
  padding: 20px;
  max-height: 80vh;
}

h1 {
  font-family: "Hero", sans-serif;
  color: #e98074;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 20px;
  opacity: 0.4;
}

h2 {
  color: #e98074;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
}

h4 {
  font-size: 0.9rem;
}

.projects__project-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: unset;
  position: relative;
  width: 400px;
  height: 300px;
  overflow: hidden;
  box-shadow: 4px 4px 8px 0px rgba(216, 195, 165, 0.5);
}
.projects__project-card .project-card__img {
  position: absolute;
  z-index: 0;
}
.projects__project-card h3,
.projects__project-card p,
.projects__project-card path {
  transition: 1s;
}
.projects__project-card .project-card__title,
.projects__project-card .project-card__date,
.projects__project-card .project-card__technologies {
  padding: 5px;
  z-index: 100;
}
.projects__project-card .project-card__technologies {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 10px;
  margin-bottom: auto;
  align-self: flex-start;
}
.projects__project-card .project-card__technologies .technologies__technology svg {
  height: 50px;
  width: 50px;
}
.projects__project-card::before, .projects__project-card::after {
  content: "";
  position: absolute;
  height: 150px;
  width: 500px;
  background: #eae7dc;
  z-index: 10;
  transition: 1s;
}
.projects__project-card::before {
  top: -100px;
  left: -50px;
  rotate: -15deg;
}
.projects__project-card::after {
  bottom: -100px;
  right: -50px;
  rotate: -15deg;
}
.projects__project-card:hover::before {
  top: -110px;
  left: -50px;
}
.projects__project-card:hover::after {
  bottom: -110px;
  right: -50px;
}
.projects__project-card:hover h3,
.projects__project-card:hover p {
  color: #e98074;
}
.projects__project-card:hover path {
  fill: #e98074;
}

.modal-bg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: unset;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1000;
  animation: show-modal 1s;
}
.modal-bg .modal {
  width: 100%;
  max-width: 1000px;
  height: 80vh;
  overflow: scroll;
  margin: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  gap: 10px;
  background: #eae7dc;
  animation: slide-modal 1s;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0px rgba(142, 141, 138, 0.5);
}
.modal-bg .modal .modal__close {
  cursor: pointer;
  padding: 5px;
  margin-left: auto;
  width: 40px;
  height: 40px;
  background: transparent;
  font-size: 20px;
  transition: 0.5s;
}
.modal-bg .modal .modal__close:hover {
  color: #e85a4f;
}

@keyframes slide-modal {
  0% {
    margin-top: -200px;
  }
  100% {
    margin-top: 20px;
  }
}
@keyframes show-modal {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
[popover] {
  inset: unset;
  translate: 0 -30px;
  padding: 5px;
}

.projects__filter {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.projects__filter .select__options,
.projects__filter .select-any__options {
  border-radius: 5px;
  background: #eae7dc;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.projects__filter .select__options .options__option,
.projects__filter .select-any__options .options__option {
  margin: 0 5px;
}
.projects__filter .filter__select,
.projects__filter .filter__select-any {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.projects__filter .filter__select .options__option,
.projects__filter .filter__select-any .options__option {
  position: relative;
  cursor: pointer;
  font-size: 0.6rem;
}
.projects__filter .filter__select .options__option:after,
.projects__filter .filter__select-any .options__option:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #8e8d8a;
  transition: 0.5s;
}
.projects__filter .filter__select .options__option:hover:after,
.projects__filter .filter__select-any .options__option:hover:after {
  width: 100%;
}
.projects__filter .filter__select .options__option.active,
.projects__filter .filter__select-any .options__option.active {
  color: #e98074;
}
.projects__filter .filter__select .options__option.active::after,
.projects__filter .filter__select-any .options__option.active::after {
  width: 100%;
  background: #e98074;
}
.projects__filter .filter__select-any {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.projects__filter .filter__select-any .select-any__selected-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.projects__filter .filter__select-any .select-any__selected-options .selected-options__selected-option {
  cursor: pointer;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.6rem;
  border-radius: 10px;
  border: 1px solid rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  transition: 0.5s;
}
.projects__filter .filter__select-any .select-any__selected-options .selected-options__selected-option:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 2px -5px rgba(34, 60, 80, 0.6);
  border: 1px solid rgba(233, 128, 116, 0.2);
  color: #e98074;
}
.projects__filter .select__selected-value,
.projects__filter .selected-options__selected-option,
.projects__filter .select-any__title,
.projects__filter .filter__reset-filter {
  cursor: pointer;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.7rem;
  border-bottom: 1px solid rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  transition: 0.5s;
}
.projects__filter .select__selected-value:hover,
.projects__filter .selected-options__selected-option:hover,
.projects__filter .select-any__title:hover,
.projects__filter .filter__reset-filter:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 2px -5px rgba(34, 60, 80, 0.6);
  border-bottom: 1px solid rgba(233, 128, 116, 0.2);
  color: #e98074;
}

.project-modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.project-modal .project-modal__preview {
  max-width: 600px;
  max-height: 300px;
}
.project-modal .project-modal__links {
  margin-top: 20px;
  padding: 0 20px;
  border-right: 2px solid #e98074;
  border-left: 2px solid #e98074;
}
.project-modal .project-modal__links-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.project-modal .project-modal__links-list .links-list__link {
  cursor: pointer;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid rgba(233, 128, 116, 0.2);
  box-shadow: 0px 5px 5px -5px rgba(233, 128, 116, 0.8);
  transition: 0.5s;
}
.project-modal .project-modal__links-list .links-list__link:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 2px -5px rgba(233, 128, 116, 0.8);
  border-bottom: 1px solid rgba(233, 128, 116, 0.2);
  color: #e98074;
}

.aside {
  position: relative;
  height: 100%;
  padding-left: 60px;
  padding-right: 20px;
  border-right: 4px solid #e85a4f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: unset;
}
.aside .aside__logo {
  position: absolute;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  white-space: nowrap;
}

.aside__navigation {
  position: relative;
}
.aside__navigation .navigation__links {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.aside__navigation .navigation__links .links__link {
  transition: 0.2s;
}
.aside__navigation .navigation__links .links__link a {
  font-size: 1.2rem;
}
.aside__navigation .navigation__links .links__link.active {
  transform: translateX(10px);
}
.aside__navigation .navigation__links .links__link.active a {
  color: #e85a4f;
}
.aside__navigation .navigation__line {
  content: "";
  position: absolute;
  left: -15px;
  top: 0;
  height: 4px;
  width: 15px;
  background: #e85a4f;
  transition: 0.2s;
}

.in-developing {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: unset;
}

.projects .projects-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  padding: 20px;
  padding-bottom: 100px;
  max-height: 80vh;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  overflow-y: scroll;
}
.projects .projects-container .projects__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 50px;
  flex-wrap: wrap;
}
.projects::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
  background: linear-gradient(0deg, #eae7dc, rgba(234, 231, 220, 0));
}/*# sourceMappingURL=main.css.map */